@charset "UTF-8";
/* CSS Document */

header {
	background-color: #009100;
	color: white;
	width: 100%;
	height: 55px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
}
nav {
	height: 10px;
	width: 100%;
}
body {
	background-color: #EDEDED;
	color: black;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	margin: 0px;
	padding: 0px;
}

button {
	background-color: #009100;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: white;
	font-size: 14px;
	border-radius: 25px;
	box-shadow: none;
	border: none;
	padding: 10px;
}

table {
	height: 300px;
	border: 0px;
	border-spacing: 10px;
    border-collapse: separate;
}
td {
	 padding: 10px;
	 background-color: white;
	 border-radius: 10px;
	 width: 150px;
	 height: 150px;
}

#or {
	text-align: center;
	font-weight: bold;
}

#square {
	width: 50px;
	height: 50px;
}

#headershape {
	margin: 0px;
	padding: 0px;
	position: absolute;
	top: 15px;
	left: 75px;
}
div {
	width: 5px;
	height: 600px;
	background-color: #009100;
	position: absolute;
	top: 70px;
	left: 225px;
}